<%include ../partials/toolbar.ejs%>

<h1>Edit <%=event.name%></h1>
<form class="event-form" method="POST" action="/events/<%=event.id%>?_method=PUT">
<%include ../partials/event-form.ejs %>

<%include ../partials/endfile.ejs%>
