<%include ../partials/toolbar.ejs%>

<div class="cover-photo">
  <a href="#">Upload a photo</a>
</div>

<h1 id="new-event">Create a new event!</h1>

<form class="event-form" method = "POST" action="/events">

<%include ../partials/event-form.ejs %>

<%include ../partials/endfile.ejs%>
