<%include ../partials/toolbar.ejs%>

<h1 id="new-event">Create a new event!</h1>
<form method = "POST" action="/events/new">
<%include ../partials/event-form.ejs %>

<%include ../partials/endfile.ejs%>
