<% include ../partials/toolbar.ejs%>

<form method="POST" action="/events/<%events.id%>/invite">
  <% include ../partials/invite.ejs%>
<button type="submit" value="submit"></button>
</form>

<% include ../partials/end.ejs%>
