<%include ../partials/toolbar.ejs%>

<h1 id = "broken-title">Page Broken :'< </h1>
<div id="broken"></div>
<a href="/user"><button id="broken-button">Back to home</button></a>


<%include ../partials/endfile.ejs%>
