<%include ../partials/toolbar.ejs%>

<form class="auth" method="POST" action="/auth/register">

  <h1>
  Register a new user!
</h1>
<% include ../partials/user-form.ejs%>
<input class="submission" type="submit" value="Submit">

</form>

<%include ../partials/endfile.ejs%>
