

<input type="text" name="name" placeholder="name">
<input type="date" name="day" placeholder="day">
<input type="" name="address" placeholder="address">
<input type="time" name="time_begins" placeholder="time_begins">
<input type="time" name="time_ends" placeholder="time_ends">
<textarea name="description" placeholder="description"></textarea>
<button type="submit" value="submit"></button>
</form>

<!-- <input type="hidden" name="host_id" placeholder="<% // user.id %>"> -->
