
<h2 class="event-input-titles">Name of Event</h2>
<input class="nameOfEvent" type="text" name="title" placeholder="name">
<h2 class="event-input-titles">Date</h2>
<input class="dateInput" type="date" name="day" placeholder="day">

<h2 class="event-input-titles" >Address</h2>
<div class="map-n-address">

  <div class="address-container">
    <input class="addressInput" type="text" name="address" placeholder="address">
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
  </div>
  <div class="map"></div>
</div>

<h2 class="event-input-titles">Start Time</h2>
<input class="startTime" type="time" name="time_begins" placeholder="time_begins">
<h2 class="event-input-titles">End Time</h2>
<input class="endTime" type="time" name="time_ends" placeholder="time_ends">
<h2 class="event-input-titles">Description</h2>
<textarea class="description" name="description" placeholder="description"></textarea>

<input type="hidden" name="host_id" value="<%=user.id%>">

<button class="submission" type="submit" value="submit">Submit</button>
</form>

