<!-- name -->

  <h2>Name (First and/or Last)</h2><br>
 <input type="text" name="name" placeholder="Name">
 <br>
  <%= //user ? user.name : name%>
  <%= //user ? user.phone_number : phone number%>
  <%= //user ? user.email : email%>
  <h2>Telephone</h2>
 <input type="tel" name="phone_number" placeholder="Phone Number">
 <h2>Email</h2>
 <input type="email" name="email" placeholder="Email">
 <!-- Room for improvement: relationship table? -->
 <!-- <input type="text" name="relationship" placeholder="<%= //user ? user.email : email%>"> -->
<!-- phone -->
<!-- email -->
<!-- submit on host page -->
