
  <h2>Name (First and/or Last)</h2><br>
 <input type="text" name="name" placeholder="Name">
 <br>

  <h2>Telephone</h2>
 <input type="tel" name="phone_number" placeholder="Phone Number">
 <h2>Email</h2>
 <input type="email" name="email" placeholder="Email">
