<!DOCTYPE html>
<html>
<head>
  <title>DateTime</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/87ea9562e2.css">


</head>
<body>


<div id = "toolbar">
  <div id="icon"></div>
  <h1>Date Time</h1>
  <!-- I have no idea if this is how that works -->
  <div class = "menu-precursor" id="profile-pic"><i class="fa fa-user-circle fa-5x" aria-hidden="true" method ="GET" action = "/user/${}"></i></div>
  <div class = "menu-precursor" id="menu"><i class="fa fa-bars fa-5x" aria-hidden="true"></i></div>
</div>
