<% include ./invite%>

  <h2>Username</h2>
  <br>
  <input class="username" name = "username" placeholder = "username">
  <br>
  <h2>Password</h2>
  <br>
  <input class="password" name = "password" type="password" placeholder = "password">
  <br>

