<%include partials/toolbar.ejs %>
<!-- likely to be rewritten come React time -->
<div id = "calendar">
  calendar
  <!-- <%=// ${UserName's Calendar} %> -->
  <!-- Google Calendar goes here -->
</div>
<div class="rssfeed" id="RSS">
  <!-- RSS Feed Goes Here -->
  <div class="rssfeed" id="first"></div>
  <div class="rssfeed" id="second"></div>
  <div class="rssfeed" id="third"></div>
  <div class="rssfeed" id="fourth"></div>
</div>

<%include partials/endfile.ejs %>
