<% include ./partials/toolbar %>
<!-- likely to be rewritten come React time -->
Make Event Planning easier.
<!-- cycle between other taglines -->

<div class = "background-container" id = "picture-container">
  <div class = "background-container" id="color-container">
    <div id="index-content">
      <h1 id = "datetime">A better bulletin board.</h1>
      <div class = "container" id="button-container">
        <a href="/auth/login"><button>Log In</button></a>
        <a href="/auth/register"><button>Register</button></a>
        <a href="/user"><button>dev cheat</button></a>
      </div>
    </div>
  </div>
</div>

<% include ./partials/endfile %>
