<%include partials/toolbar.ejs %>
<!-- likely to be rewritten come React time -->
Make Event Planning easier.
<!-- cycle between other taglines -->
<a href="#"><button>Log In</button></a>
<a href="#"><button>Register</button></a>
<a href="/user"><button>dev cheat</button></a>


<%include partials/endfile.ejs %>
