<%include partials/toolbar.ejs%>
<div id="profile-container">
  <div id="profile-picture"></div>
  <h1 id = "profile-name"></h1>
</div>
  <div id="event-container">

  </div>

<%include partials/endfile.ejs%>
