<%include ../partials/toolbar.ejs%>

<h1>Start making party planning easier!</h1>

<%include partials/user-form.ejs%>
<button type="submit" value="submit"></button>
</form>

<%include ../partials/endfile.ejs%>
