<%include ../partials/toolbar.ejs%>

<h1><%=user.name%>'s Profile</h1>

<form method="POST" action="/users/<%users.id%>?_method=PUT">
<%include ../partials/user-form.ejs%>
<button type="submit" value="submit">Submit</button>
</form>

<%include ../partials/endfile.ejs%>
