<%include ../partials/toolbar%>

<h1 id="welcome">Welcome back, <%= user.name %></h1>

<div class = "container" id="calendar-container">

  <div id="calendar-heading">
    <div id = "flexMonth">
      <button onclick="monthDown()">&#8249;</button>
      <h1 id="month"></h1><h1 id="year"></h1>
      <button onclick="monthUp()">&#8250;</button>
    </div>
    <div id="days">
      <p>Su</p> <p>M</p>
      <p>Tu</p> <p>Wed</p>
      <p>Th</p> <p>F</p>
      <p>Sa</p>
    </div>
  </div>

  <div id="calendar"></div>
</div>

<div class="notificationfeed" id="notification">
  <!-- RSS Feed Goes Here -->
  <a href="/events/new"><div class="notificationfeed" id="first"><p class = "notification-text">No New Notifications! Click here to set up a new event!!</p></div></a>
  <a href="/events/new"><div class="notificationfeed" id="second"><p class = "notification-text">No New Notifications! Click here to set up a new event!!</p></div></a>
  <a href="/events/new"><div class="notificationfeed" id="third"><p class = "notification-text">No New Notifications! Click here to set up a new event!!</p></div></a>
  <a href="/events/new"><div class="notificationfeed" id="fourth"><p class = "notification-text">No New Notifications! Click here to set up a new event!!</p></div></a>
</div>
<%include ../partials/endfile%>
